@font-face {
    font-family: 'Novecento';
    src: url('/src/fonts/novecento_conddemibold_2-webfont.woff2') format('woff2'),
        url('/src/fonts/novecento_conddemibold_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'LCD2';
    src: url('/src/fonts/lcd2_1-webfont.woff2') format('woff2'),
        url('/src/fonts/lcd2_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Dax';
    src: url('/src/fonts/dax_condensed_1-webfont.woff2') format('woff2'),
        url('/src/fonts/dax_condensed_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}