@font-face {
    font-family: 'Novecento';
    src: url('novecento_conddemibold_2-webfont.woff2') format('woff2'),
        url('novecento_conddemibold_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'LCD2';
    src: url('lcd2_1-webfont.woff2') format('woff2'),
        url('lcd2_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Dax';
    src: url('dax_condensed_1-webfont.woff2') format('woff2'),
        url('dax_condensed_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}