.wiki-card {
    background: var(--blanc);
    padding: 20px 24px;
    border-radius: 7px;
    margin: var(--space1x) var(--space2x);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wiki-card-film {
    background: var(--blanc);
    padding: var(--space1x);
    border-radius: 7px;
    margin: var(--space1x) var(--space2x);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wiki-card-film__img {
    width: 99px;
    height: 144px;
    margin-right: var(--space2x);
    border-radius: 5px;
}

.wiki-card__title {
    color: var(--noir);
    line-height: 1;
    margin-top: var(--space1x);
}

.wiki-card-film__title {
    width: 100%;
    color: var(--noir);
    line-height: 1;
    margin-top: var(--space1x);
}

.wiki-card__content {
    width: 100%;
    flex-direction: column;
    display: inline-flex;
    color: var(--noir);
    font-size: var(--body-2);
    text-transform: capitalize;
    line-height: 1;
    margin-top: 0;
}

.wiki-card-film__content {
    flex-direction: column;
    display: flex;
    color: var(--noir);
    text-transform: capitalize;
    line-height: 1;
    width: 90%;
    font-size: var(--body-3);
    margin-top: 0;
}